@import url('https://fonts.googleapis.com/css?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #232c33;

}

.navigation{
    position: relative;
    height: 500px;
    width: 300px;
    background: #2b343b;
    box-shadow: 10px 0 0 #4187f6;
}