.div_container {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap;
    background-color: black;

}

.min-height {
    min-height: 75vh;
    
}